@model Zetta.Models.ViewModels.ProductoVM

@{
    var titulo = "Crear Nuevo Producto";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form method="post" asp-action="Upsert" enctype="multipart/form-data">
    @if (Model.Producto.Id != 0)
    {
        titulo = "Editar Producto";
        <input asp-for="Producto.Id" hidden />
    }

    <div class="border p-3">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group row">
            <h2 class="text-info pl-3">@titulo</h2>
        </div>
        <hr />

        <div class="row">
            <div class="col-8">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <label asp-for="Producto.Codigo" class="form-label">Código</label>
                            <input asp-for="Producto.Codigo" class="form-control" />
                            <span asp-validation-for="Producto.Codigo" class="text-danger"></span>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-6">
                            <label asp-for="Producto.Nombre" class="form-label">Nombre</label>
                            <input asp-for="Producto.Nombre" class="form-control" />
                            <span asp-validation-for="Producto.Nombre" class="text-danger"></span>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-6">
                            <label asp-for="Producto.MarcaId" class="form-label">Marca</label>
                            <select asp-for="Producto.MarcaId" asp-items="@Model.MarcaLista" class="form-select">
                                <option disabled selected>--Seleccione una Marca</option>
                            </select>
                            <a asp-controller="Marca" asp-action="Crear" class="btn btn-success mt-2">
                                <i class="bi bi-plus-circle"></i> Crear Marca
                            </a>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-6">
                            <label asp-for="Producto.CategoriaId" class="form-label">Categoria</label>
                            <select asp-for="Producto.CategoriaId" asp-items="@Model.CategoriaLista" class="form-select">
                                <option disabled selected>--Seleccione una Categoria</option>
                            </select>
                            <a asp-controller="Categoria" asp-action="Crear" class="btn btn-success mt-2">
                                <i class="bi bi-plus-circle"></i> Crear Categoría
                            </a>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-6">
                            <label asp-for="Producto.Descripcion" class="form-label">Descripcion del Producto</label>
                            <textarea asp-for="Producto.Descripcion" class="form-control summernote"></textarea>
                            <span asp-validation-for="Producto.Descripcion" class="text-danger"></span>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-6">
                            <label asp-for="Producto.ImagenUrl" class="form-label">Imagen</label>
                            <input type="file" name="files" id="imagenId" class="form-control" />
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-6">
                            <label asp-for="Producto.Costo" class="form-label">Costo $</label>
                            <input asp-for="Producto.Costo" id="Costo" class="form-control" />
                            <span asp-validation-for="Producto.Costo" class="text-danger"></span>
                        </div>

                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-6">
                            <label asp-for="Producto.Margen" class="form-label">Margen %</label>
                            <input asp-for="Producto.Margen" id="Margen" class="form-control" />
                            <span asp-validation-for="Producto.Margen" class="text-danger"></span>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-6">
                            <label asp-for="Producto.Precio" class="form-label">Precio $</label>
                            <input asp-for="Producto.Precio" id="Precio" class="form-control" step="0.01" />
                            <span asp-validation-for="Producto.Precio" class="text-danger"></span>
                        </div>
                    </div>
                    <br />
                    <div class="form-group">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" asp-for="Publicado"> Publicado en la página de e-commerce
                            </label>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" asp-for="AlertaStock"> Activar alarma de stock bajo
                            </label>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-6">
                            <label asp-for="StockMinimo">Stock Mínimo</label>
                            <input asp-for="StockMinimo" class="form-control" />
                            <span asp-validation-for="StockMinimo" class="text-danger"></span>
                        </div>
                    </div>
                    <br />

                    <div class="row p-1">
                        <div class="col-6 col-md-3">
                            @if (Model.Producto.Id != 0)
                            {
                                <button type="submit" class="btn btn-primary form-control">Actualizar</button>
                            }
                            else
                            {
                                <button type="submit" onclick="return validarImagen()" class="btn btn-success form-control">Crear Nuevo</button>
                            }
                        </div>
                        <div class="col-6 col-md-3">
                            <a asp-controller="Producto" asp-action="Index" class="btn btn-secondary form-control">Regresar</a>
                        </div>
                    </div>

                </div>

            </div>
            <div class="col-4">
                @if (Model.Producto.Id != 0)
                {
                    <img src="@WC.ImagenRuta@Model.Producto.ImagenUrl" width="350" style="border-radius:5px; border:1px solid #bbb" />
                }
            </div>
        </div>
    </div>
</form>

@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }

    <script>

        $(document).ready(function () {
            $('.summernote').summernote({
                height: 170
            });
        });

        function validarImagen() {
            if (document.getElementById("imagenId").value == "") {
                swal("Error", "Seleccione una Imagen!", "error");
                return false;
            }
            return true;
        }

        // Para lograr el cálculo del campo "Precio" en la vista, debemos agregar un script en JavaScript
        // que se ejecute cuando los campos "Costo" y "Margen" cambien.
        // Cálculo del campo "Precio" en la vista
        $(function () {
            $('#Costo, #Margen').on('input', function () {
                var costo = parseFloat($('#Costo').val());
                var margen = parseFloat($('#Margen').val());
                if (!isNaN(costo) && !isNaN(margen)) {
                    var precio = costo * (1 + (margen / 100));
                    //$('#Precio').val(precio.toFixed(2));
                    $('#Precio').val(precio.toFixed(0));
                }
            });
        });

        // Antes de guardar en el controlador
        productoVM.Producto.Precio = Math.Round(productoVM.Producto.Precio, 2);

    </script>
}