<div class="text-center">
    <h1 class="text-info">Confirmación</h1>
    <p>Hemos recibido tu consulta. Un miembro de nustro equipo se pondrá pronto en contacto contigo.</p>
    <img src="\imagenes\compuGamer.jpg" width="50%" />
</div>

