@model Zetta.Models.ViewModels.OrdenCompraVM

@{
    ViewData["Title"] = "Editar Orden de Compra";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form method="post" asp-action="Editar">
    <input asp-for="OrdenCompra.Id" hidden />
    <div class="border p-3">

        <div asp-validation-summary="ModelOnly" class="text-danger">
        </div>

        <div class="form-group row">
            <h2 class="text-info">Editar Orden de Compra</h2>
        </div>
        <hr />

        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <label asp-for="OrdenCompra.NroOrden" class="control-label"></label>
                    <input asp-for="OrdenCompra.NroOrden" class="form-control" readonly />
                </div>
                <div class="col-md-6">
                    <label asp-for="FechaActual" class="form-label">Fecha</label>
                    <input type="text" class="form-control" asp-for="FechaActual" value="@Model.FechaActual.ToString("dd/MM/yyyy")" />
                </div>
            </div>
            <br />

            <div class="row">
                <div class="col-md-6">
                    <label asp-for="OrdenCompra.ProveedorId" class="form-label">Proveedor</label>
                    <select asp-for="OrdenCompra.ProveedorId" asp-items="@Model.ProveedorLista" class="form-select" readonly>
                        <option disabled selected>--Seleccione un Proveedor--</option>
                    </select>
                </div>

                <div class="col-md-6">
                    <label asp-for="OrdenCompra.Observaciones" class="form-label">Observaciones</label>
                    <input asp-for="OrdenCompra.Observaciones" class="form-control" />
                    <span asp-validation-for="OrdenCompra.Observaciones" class="text-danger"></span>
                </div>
            </div>
            <br />

            <h3 class="text-info">Detalles de Compra</h3>
            <hr />
            <br />

            <table class="table">
                <thead>
                    <tr>
                        <th>Código</th>
                        <th>Nombre</th>
                        <th>Cantidad</th>
                        <th>Acción</th>
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < Model.OrdenCompraDetalle.Count; i++)
                    {
                        <tr>
                            <td>
                                <input asp-for="OrdenCompraDetalle[i].Codigo" class="form-control" />
                            </td>
                            <td>
                                <input asp-for="OrdenCompraDetalle[i].Nombre" class="form-control" />
                            </td>
                            <td>
                                <input asp-for="OrdenCompraDetalle[i].Cantidad" class="form-control" type="number" />
                            </td>

                            <td>
                                <button type="button" class="btn btn-danger" onclick="eliminarFila(this)">Eliminar</button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>


            <div class="row p-1">
                <div class="col-6 col-md-3">
                    <button type="submit" class="btn btn-primary form-control">Actualizar</button>
                </div>
                <div class="col-6 col-md-3">
                    <a asp-controller="OrdenCompra" asp-action="Index" class="btn btn-secondary form-control">Regresar</a>
                </div>
            </div>
        </div>
    </div>
</form>

@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}

<script>
    function eliminarFila(button) {
        var row = button.closest("tr");
        row.remove();
    }
</script>

