
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
    <body>

    </body>
@* <head>
    <meta name="viewport" content="width=device-width" />
    <title>MostrarPDFenPagina</title>
</head>
<body>
</body> *@
</html>
