@model Zetta.Models.ViewModels.HomeVM

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="btn-group-vertical">
                <button class="btn btn-dark btn-sm filter-button" data-filter="all">Todos</button>
                @foreach (var cat in Model.Categorias)
                {
                    <button class="btn btn-outline-secondary btn-sm filter-button" data-filter="@cat.Nombre.Replace(' ','_')">@cat.Nombre</button>
                }
            </div>
        </div>
        <div class="col-md-9">
            <div class="row">
                @foreach (var prod in Model.Productos)
                {
                    <div class="col-md-4">
                        <!-- Agregamos la clase "mb-4" para ajustar el margen inferior -->
                        <partial name="_ProductoCard" model="prod"></partial>
                    </div>
                }
            </div>
        </div>

    </div>
</div>

@section Scripts{
    <script>
        $(document).ready(function () {

            $(".filter-button").click(function () {

                var value = $(this).attr('data-filter');
                if (value == "all") {
                    $('.filter').show('1000');
                }
                else {
                    $(".filter").not('.' + value).hide('3000');
                    $('.filter').filter('.' + value).show('3000');

                }
            });

        });
    </script>
}






