@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">ZETTA COMPUTACIÓN</h1>
    <br />
    <h2>Aquí debería aparecer todo lo público</h2>
    <br />
    <img src="~/imagenes/imagen1.png" />
</div>